#home-head{
    margin-top: 4rem;
    text-align: center;
  background-clip: text;}
#para-div1{ width:70%;margin: 5rem auto;text-align: center;}
#para-div1 p{padding-bottom: 10px;}
#info-h3{padding-top: 4rem;}
#info-ul{margin-right: 2rem ;}
#info-ul li{padding-top: 1rem;}
footer{
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
   background:
    radial-gradient(circle at top left, #54a5f5, transparent 60%),
    linear-gradient(120deg, #a9f576, #6787b0);
  position: fixed;
  bottom:0;
  width: 100%;}
main {
  position: relative;
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - 95px);
background: linear-gradient(
  rgba(152, 79, 79, 0.8),
  rgba(118, 63, 63, 0.267));}